@font-face {
  font-family: 'Barlow';
  src: url("../fonts/barlow_by_thunderpanda_ver01-webfont.woff") format("woff"),
       url("../fonts/barlow_by_thunderpanda_ver01-webfont.ttf") format("truetype"),
       url("../fonts/barlow_by_thunderpanda_ver01-webfont.svg#WebFontRegular") format("svg");
}

@font-face {
  font-family: 'ApexSans-Book';
  src: url("../fonts/ApexSans-Book.eot?#iefix") format("embedded-opentype"),
       url("../fonts/ApexSans-Book.woff") format("woff"),
       url("../fonts/ApexSans-Book.svg#ApexSans-Book") format("svg");
}

