/* ------------ Variables ------------- */
$icon-font-path: '../fonts/';
$fonts-basic: ApexSansMediumTRegular, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$fonts-barlow: Barlow, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$color-ubxd-purple: #951B81;

@import 'fonts';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/retina.js/src/_retina.scss";
// endbower


@mixin linear-gradient($color-top, $color-bottom) {
  background-color: $color-top;
  background: -webkit-linear-gradient($color-top, $color-bottom);
  background: -moz-linear-gradient($color-top, $color-bottom);
  background: -ms-linear-gradient($color-top, $color-bottom);
  background: -o-linear-gradient($color-top, $color-bottom);
  background: linear-gradient($color-top, $color-bottom);
}

/* ------------ General ------------- */
html, body {
  width:100%;
  height:100%;
  font-family: $fonts-basic;
}

.browserupgrade {
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  padding-bottom: 1em;
}

p {
  padding-bottom: 1.5em;
  font-size: 1.3em;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0; 
}

.underlined {
  border-bottom: 1px solid;
}

.margin-bottom-1em {
  margin: 0 0 1em 0;
}

.padding-1em {
 padding: 1em;
} 

.border-radius-20 {
 border-radius: 20px; 
} 

.bg-slightly-transparent {
  background: rgba(0, 0, 0, 0.7);
}

.hidden {
  visibility: none;
}


/* ------------ General Slides  ------------- */
.slide {
  background-size: cover!important;
  position: relative;
  padding: 10%;
}

.pagenumber {
  color: #FFF;
  z-index: 100;
  font-family: $fonts-barlow; 
  font-size: 4em;
}


/* ------------ Slide 1 ------------- */

.trends-title {
  display: block;
  text-align: center;
  padding-top: 100px;
  text-transform: uppercase;
  line-height: 60px;
  font-size: 40px;
}

.trends-ten {
  font-family: $fonts-barlow;
  font-size: 1.6em;
}

/* ------------ Slide 2 ------------- */

#slide2 {
  color: $color-ubxd-purple;
}

#slide2 .pagenumber {
  color: $color-ubxd-purple;
}

.iot-will-scale {
  font-size: 1.5em;  
}

.iot-enter {
  display: inline-block;
  padding: 0 0 1em 0;
  font-size: 1.1em;
}

.iot-dogs {
 width: 90%;
}

.iot-description { 
  display: block;
  font-size: 1.1em;
  color: #FFF;
  background: $color-ubxd-purple;
  padding: 1.2em;
  margin: 2em 0 0 0;
}

/* ------------ Slide 3 ------------- */

#slide3 {
  color: #FFF;
  background: $color-ubxd-purple;
}

#slide3 p {
 margin: 0 0 1.5em 0;
}

.fast-growth {
  border-bottom: 1px solid;
}
.fast-growth-title {
  line-height: 1.7em;
}

.fast-growth-building {
  display: none;
  height: 150px;
}

.fast-growth-rocket {
  display: none;
  position:absolute;
  width: 300px;
  right: 15%;
}
.fast-growth-content {
  position: relative;
  z-index: 100;
  background: $color-ubxd-purple;
  padding-top: 2em;
}

/* ------------ Slide 4 ------------- */

#slide4 {
  background: none;
  color: #FFF;
  overflow: hidden;
}

#slide4 .pagenumber {
  color: $color-ubxd-purple;
}

.innovate-content {
  color: $color-ubxd-purple;
}

.tesla-portrait-surrounding-circle {
  display:none;
}

.innovate-tesla-innovation {
  width: 140px;
}

.innovate-tesla {
  text-align: center;
  margin: 0 auto;
  color: #000;
  width: auto;
  img.tesla-portrait {
    width:170px;
    padding: 0 0 1em 0;
  }
}

/* ------------ Slide 5 ------------- */
#slide5 {
  color: #FFF;
  overflow: hidden;
  background: #000;
}


.rotated-content {
  max-width: 800px;
  background: #06162D;
  padding: 2em;
}

/* ------------ Slide 6 ------------- */
#slide6 {
  @include linear-gradient(#FFF, #E9E5DD);
  color: #FFF;
  overflow: hidden;
}

#slide6 .pagenumber {
  color: $color-ubxd-purple;
}
.apps {
  padding-top: 15%;
}

.apps-jiggly {
  max-width: 500px;
  position: relative; z-index: 10;
}

.apps-icon {
  height: 85px;
  width: 85px;
  display: inline-block;
  text-align: center;
  line-height: 85px;
  border-radius: 15px;
  font-size: 70px;
  font-family: $fonts-barlow; 
  margin: 0 7px 25px 0;
}

.apps-icon-jiggly {
  @include linear-gradient(#50C3FF, #028BFF);
  animation-name: jiggly;
  animation-iteration-count: infinite;
  animation-duration: 0.25s
}

.apps-icon-empty {
 background: #D4D4D4;
}

@keyframes jiggly {
  0% {
    transform: rotate(-1deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(1.5deg);
    animation-timing-function: ease-out;
  }
}

.apps-apps-everywhere {
  margin: 1em 0 3em 0;
}

.apps-messages{
  border-radius: 10px;
  background: #E6E6E6;
  padding: 0.5em;
  display: inline-block;
  float: left;
  margin-left: 40px;
  max-width: 80%;
}

.apps-messages:nth-child(odd) {
 color: #000;
}

.apps-messages:nth-child(even) {
 float:right;
}

.apps-messages:nth-child(2) {
  @include linear-gradient(#50C3FF, #34B5FF);
}

.apps-messages:nth-child(4) {
  @include linear-gradient(#028BFF, #0087FF);
}


/* ------------ Slide 7 ------------- */
#slide7 {
  color: #FFF;
  overflow: hidden;
}

#slide7 .pagenumber {
  color: $color-ubxd-purple;
}

.humans {
 position: relative;
 z-index: 100;
}

.humans h2 {
  text-align: center;
  background: rgba(0,0,0,0.7);
  border-radius: 20px;
  overflow: hidden;
  padding: 1em;
}

.humans-content p {
  position: relative;
  z-index: 100;
  background: rgba(0,0,0,0.7);
  border-radius: 20px;
  padding: 1em;
  overflow: hidden;
}

/* ------------ Slide 8 ------------- */
#slide8 {
  overflow: hidden;
  color: #000;
  text-align: center;
  background: rgba(60, 46, 46, 0.06);
}

#slide8 .pagenumber {
  color: #000;
}

.agile-whiteboard {
  width: 70%;
}

.agile-content {
  position: relative;
  z-index: 100;
  text-align: left;


  h3 {
    padding: 0.7em;
    color: #454F54;
    border: 2px solid #FB6879;
    font-size: 1.5em;
  }

  ul {
   list-style: none;
   padding: 0;

   li {
    background: rgba(0,0,0, 0.5);
    margin: 0 0 1em 0;
    padding: 0.7em;
    color: #FFF;
    font-size: 1.2em;
    border: 2px solid;
   }

  }

}

/* ------------ Slide 9 ------------- */
#slide9 {
  background: $color-ubxd-purple;
  overflow: hidden;
  color: #FFF;
}

.government-background {
  display: none;
}

/* ------------ Slide 10 ------------- */
#slide10 {
  color: #FFF;
  background: #000;
}

.delivery h2, .delivery p {
  padding: .7em;
  background: rgba(83, 92, 114, 1.0);
}

.delivery h2 {
  margin-top: 25%;
}


/* ------------ Slide 11 ------------- */
#slide11 {
  color: #FFF;
  background: #000;
}


/* ------------ Slide 12 ------------- */
#slide12 {
  color: #000;
}

#slide12 .pagenumber {
  color: $color-ubxd-purple;
}


/* ------------ RESPONSIVE STYLES FOR DESKTOP ------------- */

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) { 

/* ------------ General Slides  ------------- */
  .pagenumber {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    font-size: 5em;
  }

/* ------------ Slide 1 ------------- */

  #slide1 {
    background: url('../images/slide1bg.png') no-repeat center center fixed;
  }

  .trends-circle {
    width: 500px;
    height: 500px;
    background: #FFF;
    border-radius: 500px;
    margin: 0 auto;
    border: 10px solid #E6E6E6;
  }
  
/* ------------ Slide 2 ------------- */
  .iot-description {
     position: absolute;
     width: 320px;
     top: -65px;
     right: 0;
  }

  .iot-dogs {
    margin: 3em 0 0 2em;
  }

/* ------------ Slide 3 ------------- */
  .fast-growth-building {
    display: block;
    height: 150px;
    position: relative;
    bottom: -7px;
  }
 
  .fast-growth-rocket {
    display: block;
  }

/* ------------ Slide 4 ------------- */
  .innovate-tesla {
    position: absolute;
    right: 0;
    top: -20px;
    width: 200px;
  }

  .innovate-tesla-innovation {
    width: 150px;
  }

  .tesla-portrait-surrounding-circle {
     display: block;
     position: absolute;
     border: 1px solid #E6E6E6;
     height: 700px;
     width: 700px;
     border-radius: 700px;
     top: -200px;
     right: -300px;
  }

/* ------------ Slide 5 ------------- */
#slide5 {
  background: url('../images/slide5bg.jpg') no-repeat center center fixed;
}

/* ------------ Slide 6 ------------- */
  #map-canvas {
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 1; 
  }

/* ------------ Slide 8 ------------- */

  .agile-left-background {
    display: block;
    position: absolute;
    width: 65%;
    height: 110%;
    background: #FFF;
    left: -10%;
    top: -10%;
    z-index: 10;
  }

  .agile-right-background {
    display: block;
    position: absolute;
    width: 65%;
    height: 110%;
    background: url('../images/board.jpg');
    background-color: #FFF;
    right: -10%;
    top: -10%;
    z-index: 10;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: 0px;
  }

/* ------------ Slide 9 ------------- */
  #slide9 {
    background: #FFF;
  }

  .government-background {
    display: block;
    position: absolute;
    width: 65%;
    height: 110%;
    background: $color-ubxd-purple;
    left: -10%;
    top: -10%;
    background-image: url('../images/pixels.svg');
    background-repeat: no-repeat;
    background-size: 150px 3000px;
    background-position: right;
  }

  .ie9 .government-background {
    background-image: none;
  }

  .government-content-left {
    color: #FFF;
    padding-right: 10%;
  }

  .government-content-left {
    color: #FFF;
    padding-right: 10%;
  }

  .government-content-right {
    color: $color-ubxd-purple;
  }

  /* ------------ Slide 10 ------------- */
  #slide10 {
    background: url('../images/slide10bg.jpg') no-repeat center center fixed;
    overflow: hidden;
  }

  .delivery-bg-box {
    display: block;
    position: absolute;
    width: 75%;
    height: 300%;
    background: #788097;
    left: -10%;
    top: -30%;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
  }


  /* ------------ Slide 11 ------------- */
  #slide11 {
    background: url('../images/slide11bg.jpg') no-repeat center center fixed;
  }

  .space-content-box {
    margin: 1em;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
  }

}

/*** Animations ***/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

